<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>qrcode</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>GeneralQrCodeQueryServlet</servlet-name>
        <servlet-class>com.tmind.qrcode.servlet.GeneralQrCodeQueryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneralQrCodeQueryServlet</servlet-name>
        <url-pattern>/generalQrCodeQueryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GeneralQrCodeQueryServletVersion2</servlet-name>
        <servlet-class>com.tmind.qrcode.servlet.GenerQrCodeQueryServletVersion2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneralQrCodeQueryServletVersion2</servlet-name>
        <url-pattern>/generalQrCodeQueryServletVersion2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HotTraceServlet</servlet-name>
        <servlet-class>com.tmind.qrcode.servlet.HotTraceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HotTraceServlet</servlet-name>
        <url-pattern>/hotTraceServlet</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>MakeOrderViaEmailServlet</servlet-name>
        <servlet-class>com.tmind.qrcode.servlet.MakeOrderViaEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MakeOrderViaEmailServlet</servlet-name>
        <url-pattern>/m/r/y/makeOrderViaEmailServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WebQueryServlet</servlet-name>
        <servlet-class>com.tmind.qrcode.servlet.WebQueryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebQueryServlet</servlet-name>
        <url-pattern>/webQueryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WeChatServlet</servlet-name>
        <servlet-class>com.tmind.qrcode.servlet.WeChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WeChatServlet</servlet-name>
        <url-pattern>/weChatServlet</url-pattern>
    </servlet-mapping>

    <!--江苏华粮集团微信公共号 -->
    <servlet>
        <servlet-name>RedWineWechatServlet</servlet-name>
        <servlet-class>com.tmind.qrcode.servlet.RedWineWeChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedWineWechatServlet</servlet-name>
        <url-pattern>/redWineWechatServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LoadImagieServlet</servlet-name>
        <servlet-class>com.tmind.qrcode.servlet.LoadImagieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadImagieServlet</servlet-name>
        <url-pattern>/loadImagieServlet</url-pattern>
    </servlet-mapping>

    <!-- upload image-->
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>com.tmind.qrcode.servlet.UploadImageAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/ajax/uploadimage</url-pattern>
    </servlet-mapping>

    <!--Load system info -->
    <servlet>
        <servlet-name>QueryMainInfo</servlet-name>
        <servlet-class>com.tmind.qrcode.servlet.QueryMainInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryMainInfo</servlet-name>
        <url-pattern>/queryMainInfo</url-pattern>
    </servlet-mapping>
</web-app>